img {
    max-width: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.row {
    display: flex;
    justify-content: center;
    width: 100%;
}
.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

button {
    margin-top: 1em;
    width: 500px;
    height: 100px;
}